@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --dark-mode-main-background: #000000;
  --dark-mode-white-text: #ffffff;
  --dark-mode-selected-background: #b2f1e8;
  --dark-mode-selected-middle-text: #58d1c9;
  --dark-mode-selected-menu-background: #33bcb7;
  --dark-mode-switch-dark-background: #146262;
  --dark-mode-button-dark-background: #144848;
  --dark-mode-menu-background: #113536;
  --dark-mode-selected-dark-text: #112123;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

html,
body {
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html:has(.dark) {
  background-color: var(--background-rgb);
  color: var(--foreground-rgb);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.general-page-container {
  flex-direction: row;
}

.page-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.homepage-title__large-title {
  font-size: 150px;
}

.login-table__container {
  width: 100%;
  max-width: 500px;
}

.reset-table__container {
  width: 100%;
  max-width: 500px;
}

.side-menu__switch {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.side-menu__switch .ant-switch.ant-switch-checked {
  background-color: var(--dark-mode-switch-dark-background);
}

.side-menu__switch
  .ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background-color: var(--dark-mode-switch-dark-background);
}

@media (max-width: 1366px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
}

@media (max-width: 650px) {
}

@media (max-width: 390px) {
}

/* ================== Dark Mode ================== */

.general-page-container.container-fluid.dark {
  background-color: var(--dark-mode-main-background);
}

.general-page-container.container-fluid.dark * {
  color: var(--dark-mode-white-text);
}

.general-page-container.container-fluid.dark
  .ant-menu-submenu
  .ant-menu-submenu-title {
  background-color: var(--dark-mode-menu-background);
}

.general-page-container.container-fluid.dark
  :where(.css-dev-only-do-not-override-1261szd).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title
  *,
:where(.css-dev-only-do-not-override-1261szd).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title
  * {
  color: var(--dark-mode-selected-menu-background);
}

.general-page-container.container-fluid.dark .ant-menu {
  background-color: var(--dark-mode-main-background);
  border-inline-end: 1px solid var(--dark-mode-selected-dark-text);
  border-block-end: 1px solid var(--dark-mode-selected-dark-text);
}

.general-page-container.container-fluid.dark .ant-menu-item-selected {
  background-color: var(--dark-mode-selected-background);
}

.general-page-container.container-fluid.dark .ant-menu-item-selected span a {
  color: var(--dark-mode-selected-dark-text);
}

.general-page-container.container-fluid.dark
  :where(.css-dev-only-do-not-override-1261szd).ant-menu-inline
  .ant-menu-sub.ant-menu-inline
  .ant-menu-item-group-title {
  color: var(--dark-mode-selected-middle-text);
}

.general-page-container.container-fluid.dark .ant-btn {
  background-color: var(--dark-mode-switch-dark-background);
  border-color: var(--dark-mode-switch-dark-background);
}

.general-page-container.container-fluid.dark
  .ant-btn-color-link.ant-btn-variant-link {
  background-color: unset;
  border: none;
}

.general-page-container.container-fluid.dark .ant-divider {
  border-block-start: 1px solid var(--dark-mode-selected-menu-background);
}

.general-page-container.container-fluid.dark .ant-input {
  color: var(--dark-mode-selected-background);
  background-color: var(--dark-mode-main-background);
}

.general-page-container.container-fluid.dark .ant-btn-variant-solid {
  background-color: var(--dark-mode-button-dark-background);
  border-color: var(--dark-mode-main-background);
}

.general-page-container.container-fluid.dark .ant-input-affix-wrapper {
  background-color: var(--dark-mode-main-background);
}

.general-page-container.container-fluid.dark
  .ant-input-password
  .ant-input::placeholder {
  color: var(--dark-mode-switch-dark-background);
}

.general-page-container.container-fluid.dark .ant-input-outlined:hover {
  border-color: var(--dark-mode-selected-middle-text);
}

.general-page-container.container-fluid.dark .ant-input-outlined:focus-within {
  border-color: var(--dark-mode-selected-middle-text);
}

.general-page-container.container-fluid.dark .ant-input-outlined::placeholder {
  color: var(--dark-mode-switch-dark-background);
}

.general-page-container.container-fluid.dark
  .ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required::before {
  color: var(--dark-mode-selected-background);
}

.general-page-container.container-fluid.dark
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: var(--dark-mode-switch-dark-background);
  border-color: var(--dark-mode-switch-dark-background);
}

.general-page-container.container-fluid.dark
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: var(--dark-mode-switch-dark-background);
}

.general-page-container.container-fluid.dark .ant-card {
  background-color: var(--dark-mode-main-background);
}

.general-page-container.container-fluid.dark .ant-card-bordered {
  background-color: var(--dark-mode-selected-dark-text);
  border-color: var(--dark-mode-selected-dark-text);
}

/* ================== Dark Mode ================== */
