@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --light-mode-border-color: rgba(5, 5, 5, 0.06);
  --dark-mode-main-black: #000000;
  --dark-mode-main-white: #ffffff;
  --dark-mode-cyan10: #b2f1e8;
  --dark-mode-cyan9: #84e2d8;
  --dark-mode-cyan8: #58d1c9;
  --dark-mode-cyan7: #33bcb7;
  --dark-mode-cyan6: #13a8a8;
  --dark-mode-cyan5: #138585;
  --dark-mode-cyan4: #146262;
  --dark-mode-cyan3: #144848;
  --dark-mode-cyan2: #113536;
  --dark-mode-cyan1: #112123;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

html,
body {
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html:has(.dark) {
  background-color: var(--background-rgb);
  color: var(--foreground-rgb);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.general-page-container {
  flex-direction: row;
}

.page-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px 20px;
}

.homepage-title__large-title {
  font-size: 150px;
}

.login-table__container {
  width: 100%;
  max-width: 500px;
}

.reset-table__container {
  width: 100%;
  max-width: 500px;
}

.side-menu__switch {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.side-menu__switch .ant-switch.ant-switch-checked {
  background-color: var(--dark-mode-cyan4);
}

.side-menu__switch
  .ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background-color: var(--dark-mode-cyan4);
}

.general-page-container.container-fluid.light
  .ant-menu-light.ant-menu-root.ant-menu-inline {
  border-bottom: 1px solid var(--light-mode-border-color);
}

@media (max-width: 800px) {
  .general-page-container.container-fluid {
    overflow: hidden;
  }

  .ant-menu-submenu-title > .ant-menu-title-content {
    display: none;
  }

  .general-page-container.container-fluid.light
    .ant-menu-light.ant-menu-root.ant-menu-vertical {
    border-bottom: 1px solid var(--light-mode-border-color);
    border-top: 1px solid var(--light-mode-border-color);
  }
}

@media (max-width: 575px) {
  .side-menu__container {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

/* ================== Dark Mode ================== */

.general-page-container.container-fluid.dark {
  background-color: var(--dark-mode-main-black);
}

.general-page-container.container-fluid.dark * {
  color: var(--dark-mode-main-white);
}

.general-page-container.container-fluid.dark
  .ant-menu-submenu
  .ant-menu-submenu-title {
  background-color: var(--dark-mode-cyan2);
}

.general-page-container.container-fluid.dark
  :where(.css-dev-only-do-not-override-1261szd).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title
  *,
:where(.css-dev-only-do-not-override-1261szd).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title
  * {
  color: var(--dark-mode-cyan7);
}

.general-page-container.container-fluid.dark .side-menu__container .ant-menu {
  background-color: var(--dark-mode-main-black);
}

.general-page-container.container-fluid.dark .m-side-menu__container .ant-menu {
  background-color: var(--dark-mode-main-black);
}

.general-page-container.container-fluid.dark .ant-menu-item-selected {
  background-color: var(--dark-mode-cyan10);
}

.general-page-container.container-fluid.dark .ant-menu-item-selected span a {
  color: var(--dark-mode-cyan1);
}

.general-page-container.container-fluid.dark
  :where(.css-dev-only-do-not-override-1261szd).ant-menu-inline
  .ant-menu-sub.ant-menu-inline
  .ant-menu-item-group-title {
  color: var(--dark-mode-cyan10);
}

.general-page-container.container-fluid.dark .ant-btn {
  background-color: var(--dark-mode-cyan4);
  border-color: var(--dark-mode-cyan4);
}

.general-page-container.container-fluid.dark
  .ant-btn-color-link.ant-btn-variant-link {
  background-color: unset;
  border: none;
}

.general-page-container.container-fluid.dark .ant-divider {
  border-block-start: 1px solid var(--dark-mode-cyan7);
}

.general-page-container.container-fluid.dark .ant-input {
  color: var(--dark-mode-cyan10);
  background-color: var(--dark-mode-main-black);
}

.general-page-container.container-fluid.dark .ant-btn-variant-solid {
  background-color: var(--dark-mode-cyan3);
  border-color: var(--dark-mode-main-black);
}

.general-page-container.container-fluid.dark .ant-input-affix-wrapper {
  background-color: var(--dark-mode-main-black);
}

.general-page-container.container-fluid.dark
  .ant-input-password
  .ant-input::placeholder {
  color: var(--dark-mode-cyan4);
}

.general-page-container.container-fluid.dark .ant-input-outlined:hover {
  border-color: var(--dark-mode-cyan8);
}

.general-page-container.container-fluid.dark .ant-input-outlined:focus-within {
  border-color: var(--dark-mode-cyan8);
}

.general-page-container.container-fluid.dark .ant-input-outlined::placeholder {
  color: var(--dark-mode-cyan4);
}

.general-page-container.container-fluid.dark
  .ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required::before {
  color: var(--dark-mode-cyan10);
}

.general-page-container.container-fluid.dark
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: var(--dark-mode-cyan4);
  border-color: var(--dark-mode-cyan4);
}

.general-page-container.container-fluid.dark
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: var(--dark-mode-cyan4);
}

.general-page-container.container-fluid.dark .ant-card {
  background-color: var(--dark-mode-main-black);
}

.general-page-container.container-fluid.dark .ant-card-bordered {
  background-color: var(--dark-mode-cyan1);
  border-color: var(--dark-mode-cyan1);
}

.general-page-container.container-fluid.dark
  .ant-form-item
  .ant-form-item-explain-warning {
  color: var(--dark-mode-cyan10);
}

.general-page-container.container-fluid.dark
  .ant-form-item
  .ant-form-item-explain-error {
  color: var(--dark-mode-cyan10);
}

body:has(.general-page-container.container-fluid.dark)
  .ant-menu-light.ant-menu-submenu-popup
  > .ant-menu {
  background-color: var(--dark-mode-cyan2);
}

body:has(.general-page-container.container-fluid.dark)
  .ant-menu-light.ant-menu-submenu-popup
  > .ant-menu
  li {
  color: var(--dark-mode-main-white);
}

body:has(.general-page-container.container-fluid.dark)
  .ant-menu-light
  .ant-menu-item-selected {
  background-color: var(--dark-mode-cyan10);
}

body:has(.general-page-container.container-fluid.dark)
  .ant-menu-light
  .ant-menu-item-selected
  span
  a {
  color: var(--dark-mode-cyan1);
}

body:has(.general-page-container.container-fluid.dark)
  .ant-menu-light
  .ant-menu-item-group-title {
  color: var(--dark-mode-cyan10);
}

/* ================== Dark Mode ================== */
