@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html,
body {
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.page-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-title__large-title {
  font-size: 150px;
}

.login-table__container {
  max-width: 500px;
  width: 100%;
}

@media (max-width: 1366px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
}

@media (max-width: 650px) {
}

@media (max-width: 390px) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
